<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navbar Transparente</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/home.css" />
</head>
<body>
  <header>
    <nav class="navbar">


      <ul class="nav-links">

        <li><a href="#">Home</a></li>
        <li><a href="#">Proyects</a></li>
        <li><a href="#">Hacking</a></li>
        <li><a href="#">About me</a></li>
        <li><a href="#">Contacto</a></li>

      </ul>
    </nav>
  </header>
  <div class="circle_pink pink"></div>
  <div class="circle_blue blue"></div>

  <section class="container_info">

    <div class="info", id="card">
      <div class="card-number"></div>
      <div class="card-holder"></div>
      <div class="validity"></div>
      <div class="visa-logo">Fuzzing</div>
    </div>
  

  
    <div class="hacking" id="card">
      
      <div class="card-number"></div>
      <div class="card-holder"></div>
      <div class="validity"></div>
      <div class="visa-logo">Hacking</div>
    </div>


    <div class="card_info3", id=card>
      
      <div class="card-number"></div>
      <div class="card-holder"></div>
      <div class="validity"></div>
      <div class="visa-logo">Certificate</div>
    </div>

    <div class="scroller">
      
  </div>
  </section>
  
</body>
</html>
