<!DOCTYPE html>
<html>
<head>
  <title>Formulario de ejemplo</title>
</head>
<body>
  <h2>Formulario de Registro</h2>
  <form action="/guardar" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email">
    <label for="email">Nick name:</label>
    <input type="email" id="email" name="email">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password">

    <input type="submit" value="Enviar">
  </form>
</body>
</html>
