<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="./registro">Registro</a></li>
      <li><a href="https://github.com/SkullB0yG" target="_blank">GitHub</a></li>
    </ul>
  </nav>

  
</body>
</html>
