<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/registro">Registro</a></li>
      <li><a href="https://github.com/SkullB0yG" target="_blank">GitHub</a></li>
    </ul>
  </nav>

  <section class="formulario">
    <h2>Iniciar Sesión</h2>
    <form action="/procesar_login" method="POST">
      <label>Usuario:</label><input type="text" name="usuario" required>
      <label>Contraseña:</label><input type="password" name="password" required>
      <button type="submit">Entrar</button>
    </form>
  </section>
</body>
</html>
