/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #181A1F;
  color: #DCDFDA;
  overflow-x: hidden; /* evita scroll horizontal por las bolas */
  display: flex;          /* coloca los sections en fila */
  flex-wrap: wrap;        /* permite que bajen si no caben */
  gap: 2rem; 
}

/* ==== Fondos circulares ==== */
.circle_pink{
  position: absolute;
  border-radius: 50%;
  filter: blur(2rem);
  z-index: 0
}
.circle_blue {
  position: absolute;
  border-radius: 50%;
  filter: blur(0.5rem);
  z-index: 0; /* siempre detrás del contenido */
}

.circle_pink {
  width: 40rem;
  height: 40rem;
  background: linear-gradient(to bottom left, #8C2085, #BF4186, #D97236);
  top: 10rem;
  left: 30rem;
}

.circle_blue {
  width: 30rem;
  height: 30rem;
  background: linear-gradient(to top left, #43B4D2, #00ffff, #0066ff);
  top: 30rem;
  right: 20rem;
  opacity: 0.9;
}

/* ==== Navbar ==== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* por encima de las bolas */
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #DCDFDA;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00ffff;
}


/* cajas */

.container_info{
  padding: 1rem;
  margin-top: 6vw;
  margin-right: 1rem;
  margin-left: 1rem;
  z-index: 1;
  width: 100vw;
  height: 38vw;
  gap: 1rem;
  border: 3px, solid #DCDFDA;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 10rem 10rem 10rem 10rem 10rem;
}

.info{
  grid-row-start: 1;
  grid-row-end: 5;
}
.hacking{
  grid-row-start: 1;
  grid-row-end: 4;
}

#card{
  border: #181A1F, solid, 1px ;
  color: #181A1F;
  background-color: #00ffff;
}

/*scroller*/
.scroller{
  background: #0066ff;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 2rem;
}